/* Reset the default styles from index.css */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: block;
  background-color: #ffffff;
  color: #213547;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Primary colors */
:root {
  --primary-color: #00855A;
  --primary-dark: #006e4a;  /* Darker shade for contrast */
  --hero-background: #3bbe93;  /* Slightly lighter shade for the hero */
  --secondary-color: #F5A623;
  --text-color: #213547;
  --white: #ffffff;
}

/* Global styles */
.app {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: #e69b1f;
}

.btn-secondary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-secondary:hover {
  background-color: #00724d;
}

/* Section styling */
.section {
  padding: 4rem 0;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.section-subtitle {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}